<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/fry.svg') }}" type="image/svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Hunter's Website</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Hunter Baisden</h1>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Personal Projects</a></li>
                <li><a href="#school-projects">Academic Projects</a></li>
            </ul>
        </nav>

        <!-- about section -->
        <section class="about">
            <div class="about-content">
                <div class="about-image">
                    <img src="{{ url_for('static', filename='images/moodle.png') }}" alt="Your Image">
                </div>
                <div class="about-text">
                    <h2>About Me</h2>
                    <p>electrical engineer and computer scientist</p>
                    <blockquote id="lyrics-block">
                        <!-- This is where the random lyrics will be inserted -->
                    </blockquote>
                    <p id="song-info">
                        <!-- Song title and artist will be inserted here -->
                    </p>
                    <a href="javascript:void(0);" role="button" class="visit-button" onclick="displayNextLyrics()">Change Lyrics</a>
                </div>
                
                
                
                
            </div>
            <div class="social-links">
                <a href="https://github.com/H-Bombmxpwr" target="_blank" class="icon-link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/hunter-baisden/" target="_blank" class="icon-link">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://lichess.org/@/H-Bombmxpwr" target="_blank" class="icon-link">
                    <img src="{{ url_for('static', filename='images/lichess_icon.png') }}" alt="Lichess" class="social-icon">
                </a>
                <a href="https://www.instagram.com/hbombmxpwr" target="_blank" class="icon-link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://open.spotify.com/user/awesome7335" target="_blank" class="icon-link">
                    <i class="fab fa-spotify"></i>
                </a>
            </div>
        </section>
        
        <!-- Personal Projects Section -->
        <section id="projects">
            <h2>Personal Projects</h2>
            <ul id="project-tabs">
                <li class="tab" onclick="showProject('project1')">Album Poster</li>
                <li class="tab" onclick="showProject('project2')">LiDAR Lense</li>
                <li class="tab" onclick="showProject('project3')">Song Swears</li>
                <li class="tab" onclick="showProject('project4')">Clarence</li>
                <li class="tab" onclick="showProject('project5')">TI Programs</li>
                <li class="tab" onclick="showProject('project6')">Personal Website</li>
                <li class="tab" onclick="showProject('project7')">Mario Kart Tracker</li>
            </ul>

            <div id="project1" class="project-content">
                <h3>Album Poster Generator</h3>
                <p>This is a website to generate a cool album poster. It interacts with the spotify API for all of the album data. It will take an artist, an album, or both and generate a poster.</p>
                <a href="https://album.hxr.life" role="button" class="visit-button">Visit Website</a>
                <figure>
                    <img src="{{ url_for('static', filename='images/khalid.png') }}" alt="American Teen Screenshot" style="max-width:100%; height:auto;">
                    <figcaption>Example of a Poster, American Teen by Khalid</figcaption>
                </figure>
                
                
            </div>

            <div id="project2" class="project-content">
                <h3>LiDAR Lense</h3>
                <p>My iPhone app that used the LiDAR on some iPhone Pro models to help map the room around you. It identifies potential obstacles and displays them on the screen for the user as they walk around real time. Written in Swift and Python, the repository is currently private.</p>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/lidar.png') }}" alt="Screenshot of my kitchen through LiDAR Lense">
                    <figcaption>Screenshot of my kitchen through LiDAR Lense</figcaption>
                </figure>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/lense.png') }}" alt="Screenshot of my kitchen through LiDAR Lense" class="round-icon">
                    <figcaption>The apps icon</figcaption>
                </figure>
            </div>


            <div id="project3" class="project-content">
                <h3>Swears in Songs</h3>
                <p>This is a website to return all of the swear words in a queried song. My first website so a little rough around the edges, still gets the job done though.</p>
                <a href="https://trevorg73.web.illinois.edu/songswears" role="button" class="visit-button">Visit Website</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/swears.png') }}" alt="Screenshot of Song Swears website">
                    <figcaption>All the swears in 8TEEN, from American Teen</figcaption>
                </figure>
            </div>
            
            <div id="project4" class="project-content">
                <h3>Clarence</h3>
                <p>A discord bot with over 30 functions including but not limited too:</p>
                <ul class="feature-list">
                    <li>Music Playing</li>
                    <li>Trivia</li>
                    <li>Bitwise Math</li>
                    <li>Latex Rendering</li>
                    <li>Play Poker</li>
                    <li>GIF Generation</li>
                    <li>AI Image Generation</li>
                    <li>Cute Animal Photos</li>
                    <li>Fetch Wikipedia Articles</li>
                    <li>Numerous Moderation Functions</li>
                    <!-- Add other functions here -->
                </ul>
                <a href="https://discord.com/api/oauth2/authorize?client_id=877014219499925515&permissions=8&scope=bot" role="button" class="visit-button">Add Clarence</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/clarence.png') }}" alt="Clarence Icon" class="round-icon">
                    <figcaption>Clarence's Beautiful Icon</figcaption>
                </figure>
            </div>


            <div id="project5" class="project-content">
                <h3>TI Programs</h3>
                <p>I made hundreds of programs for the TI-84 series of calcualtors throughout my high school and college days, below linked are some of the best, most useful (and brainrot) ones. </p>
    
                <a href="https://github.com/H-Bombmxpwr/TI-Programs" role="button" class="visit-button">Repository</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/ti.png') }}" alt="Liam">
                    <figcaption>Liam waving at you from prgmLIAM</figcaption>
                </figure>
            </div>


            <div id="project6" class="project-content">
                <h3>This Website</h3>
                <p>Coded from scratch using HTML, CSS, JavaScript, and some Python. The repository is linked below </p>
    
                <a href="https://github.com/H-Bombmxpwr/Landing-Page" role="button" class="visit-button">Site Repository</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/fry.svg') }}" alt="Fry Icon" class="round-icon">
                    <figcaption>Phillip J Fry</figcaption>
                </figure>
            </div>

            <div id="project7" class="project-content">
                <h3>Mario Kart Tracker</h3>
                <p>Enter in a username and this site will track as many friends as you want, and all of their Mario Kart placements. They are saved under your username.</p>
    
                <a href="https://trevorg73.web.illinois.edu/kart/login" role="button" class="visit-button">Visit Site</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/kart.png') }}" alt="Fry Icon" class="round-icon">
                    <figcaption>Mario doing Mario things</figcaption>
                </figure>
            </div>

        </section>


        <section id="school-projects">
            <h2>Academic Projects</h2>
            <ul id="project-tabs">
                <li class="tab" onclick="showSchoolProject('school-project1')">First Person View Drone</li>
                <li class="tab" onclick="showSchoolProject('school-project2')">Six Degrees of Wikipedia</li>
                <li class="tab" onclick="showSchoolProject('school-project3')">FPGA Video Game</li>
                <li class="tab" onclick="showSchoolProject('school-project4')">Controlled Boost Converter</li>
                
                <!-- Add more tabs as needed -->
            </ul>

            <div id="school-project1" class="school-project-content">
                <h3>First Person View Drone</h3>
                <p>Senior design project for ECE at Illinois. 3 custom designed PCBs used to implament live wireless camera transmission from a Crazyflie drone to a headset. Done in a group of 3. The final drone successfully streamed real time video to both a laptop and a headset.</p>
                <a href="https://github.com/H-Bombmxpwr/FPV_Drone" role="button" class="visit-button">Repository</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/Drone.png') }}" alt="graph Images">
                    <figcaption>The final designed drone with the camera and IR LED boards attached (not pictured: the headset board)</figcaption>
                </figure>
            </div>


            <div id="school-project2" class="school-project-content">
                <h3>Six Degrees of Wikipedia Solver</h3>
                <p>A program to solve the six degrees of Wikipedia problem, which is described <a href="https://en.wikipedia.org/wiki/Wikipedia:Six_degrees_of_Wikipedia" target="_blank">here</a>. It was a final project, done in a group of 4. It also goes into the betweenness centrality of thousands of articles.</p>
                <a href="https://github.com/JuanDiegoSanz7/225-Final-Project" role="button" class="visit-button">Repository</a>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/graph.png') }}" alt="graph Images">
                    <figcaption>Graph representing thousands of articles distance from "United States"</figcaption>
                </figure>
            </div>
            
            <div id="school-project3" class="school-project-content" style="display: none;">
                <h3>Custom Video Game on FPGA</h3>
                <p>A custom video game programmed onto an FPGA detailing the life of an ECE major @ U of I. Written in System Verilog it includes custom sprites and top down gameplay. The repository is currently private.</p>
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/fpga.png') }}" alt="graph Images">
                    <figcaption> FPGA running the game real time</figcaption>
                </figure>
                <!-- Add more content as needed -->
            </div>

            <div id="school-project4" class="school-project-content" style="display: none;"">
                <h3>Controlled Boost Converter</h3>
                <p>A hand-controlled boost converter designed for a ranging 9-15V input, and a strict 24V&plusmn;3% output. A custom inductor was wound for the project. Arduino control was also built in for more precise control.</p>
                
                <figure class="website-screenshot">
                    <img src="{{ url_for('static', filename='images/boost.jpg') }}" alt="graph Images">
                    <figcaption>Photo of the converter including the power board, control board, and custom inductor.</figcaption>
                </figure>
            </div>


            <!-- Add more project-content divs as needed -->
        </section>

        
        <footer class="footer">
            <p>
                <a href="https://github.com/H-Bombmxpwr/Landing-Page" target="_blank" class="github-footer">
                    <i class="fab fa-github"></i>
                </a>
                <span id="year"></span> - Hunter Baisden
            </p>
            <div id="funnyQuote">Loading a quote...</div>
        </footer>
        
        <script>
            // Get the current year and display it in the footer
            document.getElementById('year').textContent = new Date().getFullYear();
        </script>
        
        
        
    </div>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
</body>
</html>
